<!DOCTYPE HTML>
<html>
<head>
    <title>Rdiology</title>
</head>
<body>

<p>Welcome to the demo app.</p>

<p>Isn't it lovely?</p>

{% if authenticated %}
<img src="{{user.icon}}" style="float:right">
<p>You're logged, {{user.firstName}} {{user.lastName}}, why don't you do something?</p>
<ul>
    <li><a href="/heavy/{{user.key}}">Your network's heavy rotation</a></li>
    <li><form method="POST" action="/search"><input name="q"><input type="submit" value="Search for artists"></form></li>
</ul>
<p>or <a href="/logout">log out</a> </p>
{% else %}
<p><form method="POST" action="/search"><input name="q"><input type="submit" value="Search for artists"></form></p>
<p><a href="/auth">Log with Rdio</a></p>
{% endif %}

</body>
</html>